/*
 * Copyright 2018 Royal Bank of Scotland
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

#editor
  background: #ECECEC
  border 1px solid #000
  box-sizing border-box
  display inline-block
  height calc(100vh - 120px)
  margin-left 5px
  padding 5px
  position relative
  right 0
  width calc(100% - 260px)
  transition all 0.5s

  .functions
    margin 5px 3px

    button 
      background linear-gradient(#DDD, #BBB)
      border 1px solid #888
      border-radius 2px
      color rgba(0, 0, 0, 1.0)
      font-family 'SSP-Bold' 
      font-size 16px
      margin auto 6px auto 0
      outline none
      padding 5px 20px
      vertical-align top        

      &:disabled
        background rgba(0, 0, 0, 0.4)  

      &:active 
        box-shadow 0 0 5px 2px #333
        -webkit-transform scale(0.8, 0.95)
        -moz-transform scale(0.95, 0.95)
        -ms-transform scale(0.95, 0.95)
        transform scale(0.95, 0.95)
    
      &#createServiceBtn
        border-left none
        border-radius 0 2px 2px 0

      &#deleteBtn
        float right

    input[type=text]
      border 1px solid #000
      border-right none
      font-size 16px
      height 27px
      margin-right -8px
      outline none
      padding-bottom 2px
      padding-left 10px
      width 250px

      &::-webkit-input-placeholder  /* Chrome/Opera/Safari */
        color #CCC     
        font-style italic
        font-weight 100

      ::-moz-placeholder  /* Firefox 19+ */
        color #CCC 
        font-style italic
        font-weight 100
      
      :-ms-input-placeholder  /* IE 10+ */
        color #CCC
        font-style italic
        font-weight 100

      &::-moz-placeholder  /* Firefox 18- */
        color #CCC 
        font-style italic
        font-weight 100
    
    .tooltip
      background #000
      border 2px solid #DE0000
      border-radius 3px
      box-sizing border-box
      color #FFF
      position absolute
      opacity 1
      text-align center
      top 50px
      width 300px
      z-index -100
      
      &.shown
        opacity 1
        z-index 100

      &:before
        content " "
        border 6px solid 
        border-color transparent transparent #DE0000 transparent
        left 30%
        position absolute
        top -14px
        transform translateX(-50%)

      &:after
        content " "
        border 6px solid 
        border-color transparent transparent #000 transparent
        right 70%
        position absolute
        top -11px
        transform translateX(50%)
      
      h4
        margin 15px 0px 10px 30px
      
      .close
        background none
        border none
        color #FFF
        float right
        font-size 30px
        padding 5px 10px 0 0

        &:hover
          color #DE0000

      ul
        padding-left 0

        li
          display none
          margin-bottom 10px

          &.shown
            display block
            

      

  #monaco
    border-top 1px solid #000
    height calc(100% - 75px)
    margin-top 10px
    padding-top 10px